<p id="notice"><%= notice %></p>

<p>
  <b>Order:</b>
  <%= @car.order_id %>
</p>

<p>
  <b>Book:</b>
  <%= @car.book_id %>
</p>


<%= link_to 'Edit', edit_car_path(@car) %> |
<%= link_to 'Back', cars_path %>
